@use '@styles/setting/variables' as *;
@use '@styles/helpers' as *;

.projectsCard {
  max-width: rem(600);
  min-width: rem(600);

  max-height: rem(300);
  min-height: rem(300);

  background-color: var(--color-surface);
  border-radius: var(--radius-xl);

  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);

  &__content {
    flex-shrink: 1;
    padding: var(--spacing-xl);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
}

.techStack {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
}

.spacer {
  flex-shrink: 0;
  width: rem(150);
}
