@use '@styles/setting/variables' as *;
@use '@styles/helpers' as *;

@keyframes panel-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}

@keyframes image-shrink {
  from {
    height: 100%;
  }
  to {
    height: 90%;
  }
}

.projectsCard {
  position: relative;
  max-width: rem(600);
  min-width: rem(600);

  max-height: rem(300);
  min-height: rem(300);

  background-color: var(--color-surface);
  border-radius: var(--radius-xl);
  overflow: hidden;

  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);

  @include hover {
    .projectsCard__previewPanel {
      animation: panel-slide 0.3s forwards ease-out;
    }

    .projectsCard__previewPanel-image {
      animation: image-shrink 0.4s forwards ease;
      animation-delay: 0.25s;
    }
  }

  &__content {
    flex-shrink: 1;
    padding: var(--spacing-xl);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  &__title {
    font-size: var(--font-sizes-lg);
    font-weight: var(--font-weights-bold);
  }
  &__description {
    font-size: var(--font-sizes-base);
  }
}

.projectsCard__previewPanel {
  position: absolute;
  width: 100%;
  height: 100%;

  border: rem(1) solid var(--color-bg);
  border-radius: var(--radius-xl);
  backdrop-filter: blur(12px);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transition: transform var(--transitions-normal);

  & .arrowButton {
    padding-inline: var(--spacing-md);
  }

  &-image {
    height: 100%;
    border-radius: var(--radius-xl);
    overflow: hidden;

    transition: var(--transitions-normal);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.techStack {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
}

.spacer {
  flex-shrink: 0;
  width: rem(150);
}
