@use '@styles/setting/variables' as *;
@use '@styles/helpers' as *;

.projectsCard {
  position: relative;
  max-width: rem(600);
  min-width: rem(600);

  max-height: rem(300);
  min-height: rem(300);

  background-color: var(--color-surface);
  border-radius: var(--radius-xl);

  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);

  &__content {
    flex-shrink: 1;
    padding: var(--spacing-xl);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  &__title {
    font-size: var(--font-sizes-lg);
    font-weight: var(--font-weights-bold);
  }
  &__description {
    font-size: var(--font-sizes-base);
  }
}

.projectsCard__previewPanel {
  position: absolute;
  width: 100%;
  height: 100%;

  border: rem(1) solid var(--color-bg);
  border-radius: var(--radius-xl);
  backdrop-filter: blur(12px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .arrowButton {
    padding-inline: var(--spacing-md);
  }

  &-image {
    border-radius: inherit;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.techStack {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
}

.spacer {
  flex-shrink: 0;
  width: rem(150);
}
