.arrowButton {
  position: relative;
  transition: transform var(--transitions-normal);

  &--up {
    transform: rotate(180deg);
  }
  &--down {
    transform: rotate(0deg);
  }
  &--left {
    transform: rotate(90deg);
  }
  &--right {
    transform: rotate(-90deg);
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 16px 6px var(--color-text);
  }

  &--up:hover {
    transform: rotate(180deg) scale(1.1);
  }

  &--down:hover {
    transform: rotate(0deg) scale(1.1);
  }

  &--left:hover {
    transform: rotate(90deg) scale(1.1);
  }

  &--right:hover {
    transform: rotate(-90deg) scale(1.1);
  }
}
