.arrowButton {
  --rotation: 0deg;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  isolation: isolate;

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background: var(--color-text);
    filter: blur(16px);
    opacity: 0.8;
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
  }

  img {
    position: relative;
    z-index: 1;
    transform: rotate(var(--rotation)) scale(1);
    transition: transform var(--transitions-normal);
  }

  &:hover img {
    transform: rotate(var(--rotation)) scale(1.1);
  }

  &--up {
    --rotation: 180deg;
  }
  &--down {
    --rotation: 0deg;
  }
  &--left {
    --rotation: 90deg;
  }
  &--right {
    --rotation: -90deg;
  }
}
