.heading {
  color: var(--color-text);
  font-weight: var(--font-weights-bold);
  letter-spacing: var(--spacing-lg);

  &--accent {
    font-family: var(--color-accent);
  }
  &--primary {
    font-family: var(--color-primary);
  }

  &--xxxl {
    font-size: var(--font-sizes-xxxl);
  }
  &--xxl {
    font-size: var(--font-sizes-xxl);
  }
  &--xl {
    font-size: var(--font-sizes-xl);
  }
  &--lg {
    font-size: var(--font-sizes-lg);
  }
}
