@use '@style-helpers/mixins' as *;

.heading {
  color: var(--color-text);
  font-weight: var(--font-weights-bold);

  @include font-size-modifiers;

  &--xxxl {
    font-size: var(--font-sizes-xxxl);
  }
  &--xxl {
    font-size: var(--font-sizes-xxl);
  }
  &--xl {
    font-size: var(--font-sizes-xl);
  }
  &--lg {
    font-size: var(--font-sizes-lg);
  }
}
