@font-face {
  font-family: Comfortaa;
  src: url('@fonts/Comfortaa/static/Comfortaa-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: wrap;
}

@font-face {
  font-family: Comfortaa;
  src: url('@fonts/Comfortaa/static/Comfortaa-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: wrap;
}

@font-face {
  font-family: Comfortaa;
  src: url('@fonts/Comfortaa/static/Comfortaa-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: wrap;
}

@font-face {
  font-family: Comfortaa;
  src: url('@fonts/Comfortaa/static/Comfortaa-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: wrap;
}

@font-face {
  font-family: Comfortaa;
  src: url('@fonts/Comfortaa/static/Comfortaa-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: wrap;
}

@font-face {
  font-family: Pacifico;
  src: url('@fonts/Pacifico/Pacifico-Regular.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: wrap;
}
