@use '@styles/helpers/' as *;
.hero {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0 4px 250px 42px rgba(0, 0, 0, 1);
    background: linear-gradient(
      -11.31deg,
      var(--color-bg, rgba(3, 4, 10, 1)),
      var(--color-bg-secondary, rgba(8, 11, 20, 1)) 50%,
      var(--color-surface, rgba(21, 28, 46, 1)) 100%
    );

    z-index: -2;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: linear-gradient(to top, var(--color-bg, rgba(3, 4, 10, 1)) 0%, transparent 100%);
    z-index: -1;
    pointer-events: none;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-xl);
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
  }
  &__subtitle {
    color: var(--color-text-secondary);
    font-size: var(--font-sizes-xl);
  }
  &__post {
    font-size: var(--font-sizes-lg);
    letter-spacing: rem(4);
  }
  &__description {
    font-size: var(--font-sizes-base);
  }
  &__buttons {
    display: flex;
    gap: var(--spacing-sm);
  }
}

.hero__subtitle,
.hero__post,
.hero__description,
.hero__buttons {
  opacity: 0;
  transform: translateY(10px) scale(0.9);
}
