@use '@style-helpers/functions' as *;

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: rem(8); // Default

  &Item {
    background-color: var(--color-bg-secondary);
    border-radius: var(--radius-lg);
    padding: var(--spacing-sm);
    font-size: var(--font-sizes-sm);
  }
}
