.parallaxBg {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  will-change: transform;
  pointer-events: none;
}
