.parallaxBg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  pointer-events: none;
  will-change: transform;
}
