@use '@styles/setting/variables' as *;
@use '@styles/helpers' as *;

$header-height: rem(80);
$header-height-scrolled: rem(60);
$color-bg: color(color-border, 'dark');
$color-bg-secondary: color(color-bg-secondary, 'dark');
$color-accnet-alt: color(color-accent-alt, 'dark');
$header-radius-base: var(--radius-2xl);
$header-radius-openNav: calc(#{$header-radius-base} / 2);

.header {
  --current-header-height: #{$header-height};

  max-width: rem(1000);
  position: fixed;
  top: rem(25);
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-tooltip);
}

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.navigation__list {
  width: 100%;
  height: var(--current-header-height);
  background-color: rgba($color-bg, 0.1);
  backdrop-filter: blur(12px);
  padding-inline: fluid(75, 100);
  border-radius: var(--radius-2xl);
  border: rem(1) solid $color-bg;

  font-size: var(--font-sizes-sm);

  display: grid;
  grid-template-rows: repeat(1, var(--current-header-height));
  place-items: center;
  gap: 0;

  z-index: var(--z-index-tooltip);
  transition:
    height var(--transitions-normal),
    grid-template-rows var(--transitions-normal),
    background-color var(--transitions-normal);
}

.navigation__item {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: height var(--transitions-normal) ease-in-out;

  @include hover {
    .navigation__link::before {
      width: 100%;
    }
  }
}

.navigation__link {
  position: relative;
  @include underline(var(--color-text));

  text-transform: uppercase;
  letter-spacing: rem(2);
  white-space: nowrap;
}

.navigation__logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
  transition: all var(--transitions-normal);
}

.navigation__logo img {
  max-height: 100%;
  width: auto;
  background-color: var(--color-text);
  border-radius: 14px;
  padding: 8px;
  box-shadow: 0 0 50px 1px rgba($color-accnet-alt, 0.4);
  transition: all var(--transitions-normal);
}

.openNav__grid {
  display: grid;
  gap: fluid(40, 80);
  padding: var(--spacing-xl) 0;
}

.openNav {
  width: 100%;

  max-height: var(--current-header-height);
  background-color: transparent;
  //   opacity: 0;
  backdrop-filter: blur(8px);
  border-top-left-radius: $header-radius-openNav;
  border-top-right-radius: $header-radius-openNav;

  font-size: var(--font-sizes-base);

  padding-inline: fluid(75, 100);
  padding-top: var(--current-header-height);
  overflow: hidden;

  z-index: 1;
  transition:
    max-height var(--transitions-normal),
    padding-top var(--transitions-normal),
    border-radius var(--transitions-normal);
}

.openNavContainer {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.openNav__column {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: fluid(20, 40);
  }
}

.openNav__link {
  white-space: nowrap;
}

.scrolled {
  --current-header-height: #{$header-height-scrolled};

  .navigation__list {
    background-color: transparent;
  }
}

.open {
  max-height: 400px;
  border-bottom-left-radius: var(--radius-xl);
  border-bottom-right-radius: var(--radius-xl);
}

.openNavToggle {
  position: relative;
  @include hover-zone(-16px);
}
