@use '@styles/setting/variables' as *;
@use '@styles/helpers' as *;

$header-height: rem(80);
$color-bg-secondary: color(color-bg-secondary, 'dark');
$header-height-scrolled: rem(60);

.header {
  --current-header-height: #{$header-height};

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: rem(1000);
  z-index: var(--z-index-tooltip);
}

.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.navigation__list {
  width: 100%;
  height: var(--current-header-height);
  background-color: var(--color-bg);
  padding-inline: fluid(75, 100);
  border-bottom-left-radius: rem(64);
  border-bottom-right-radius: rem(64);

  font-size: var(--font-sizes-base);

  display: grid;
  grid-template-rows: repeat(1, var(--current-header-height));
  place-items: center;
  gap: 0;

  box-shadow: 0 0 16px 5px rgba(5, 6, 10, 1);
  z-index: var(--z-index-tooltip);
  transition:
    height var(--transitions-normal),
    grid-template-rows var(--transitions-normal),
    box-shadow var(--transitions-normal),
    background-color var(--transitions-normal);
}

.navigation__item {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: height var(--transitions-normal) ease-in-out;

  @include hover {
    .navigation__link::before {
      width: 100%;
    }
  }
}

.navigation__link {
  position: relative;
  @include underline(var(--color-text));

  white-space: nowrap;
}

.navigation__logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
  transition: all var(--transitions-normal);
}

.navigation__logo img {
  max-height: 100%;
  width: auto;
  filter: invert(1);
  transition: all var(--transitions-normal);
}

.openNav__grid {
  display: grid;
  place-items: center;
  gap: fluid(40, 80);
  padding: var(--spacing-xl) 0;
}

.openNav {
  width: 100%;

  max-height: var(--current-header-height);
  background-color: rgba($color-bg-secondary, 0.7);
  backdrop-filter: blur(8px);
  border-bottom-left-radius: rem(64);
  border-bottom-right-radius: rem(64);

  font-size: var(--font-sizes-base);

  padding-inline: fluid(75, 100);
  padding-top: var(--current-header-height);
  overflow: hidden;

  z-index: var(--z-index-modal);
  transition:
    max-height var(--transitions-normal),
    padding-top var(--transitions-normal),
    border-radius var(--transitions-normal);
}

.openNavContainer {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.openNav__column {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: fluid(20, 40);
  }
}

.openNav__link {
  white-space: nowrap;
}

.scrolled {
  --current-header-height: #{$header-height-scrolled};

  .navigation__list {
    background-color: transparent;
  }
}

.open {
  max-height: 400px;
  border-bottom-left-radius: var(--radius-xl);
  border-bottom-right-radius: var(--radius-xl);
}

.openNavToggle {
  position: relative;
  @include hover-zone(-16px);
}
