@use '@styles/setting/variables' as *;
@use '@styles/helpers' as *;

.header {
  //   width: rem(900);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.navigation__list {
  width: 100%;
  height: rem(80);
  background-color: var(--color-bg);
  padding-inline: fluid(75, 100);
  border-bottom-left-radius: rem(64);
  border-bottom-right-radius: rem(64);

  font-size: var(--font-sizes-md);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 80px);

  place-items: center;
  gap: fluid(40, 80);
}

.navigation__item {
  width: 100%;
  height: 100%;
}

.navigation__logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__logo img {
  max-height: 100%;
  width: auto;
}

.navigation__link {
  width: inherit;
  height: inherit;
}

.openNav__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.openNav {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.35s ease,
    opacity 0.25s ease;
}

.open {
  max-height: 400px;
  opacity: 1;
}

.openNavToggle {
  position: relative;
  @include hover-zone(-16px);
}
