@use '../setting/variables' as *;
@use '../helpers/media' as *;
@use './functions' as *;

@mixin theme-vars($map) {
  @each $name, $value in $map {
    --#{$name}: #{$value};
  }
}

@mixin font-size-modifiers {
  &--sm {
    font-size: map-get($font-sizes, font-sizes-sm);
  }

  &--base {
    font-size: map-get($font-sizes, font-sizes-base);
  }

  &--md {
    font-size: map-get($font-sizes, font-sizes-md);
  }

  &--lg {
    font-size: map-get($font-sizes, font-sizes-lg);
  }

  &--xl {
    font-size: map-get($font-sizes, font-sizes-xl);
  }

  &--xxl {
    font-size: map-get($font-sizes, font-sizes-xxl);
  }

  &--xxxl {
    font-size: map-get($font-sizes, font-sizes-xxxl);
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin rectangle($width, $height) {
  width: $width;
  height: $height;
}

@mixin underline($color: white) {
  @include mobile-above {
    &::before {
      content: '';
      position: absolute;
      bottom: em(-2);
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $color;
      transform: translateX(-50%);
      transition: width var(--transitions-fast);
    }
    @include hover {
      &::before {
        width: 100%;
      }
    }
  }
}

@mixin hover-zone($inset-size) {
  &::before {
    content: ' ';
    position: absolute;
    inset: $inset-size;
  }
}

@mixin hover-color($color) {
  transition: color $transition-fast;
  &:hover {
    color: $color;
  }
}
