@use '@style-helpers/mixins' as *;
@use '@style-helpers/functions' as *;

.navButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);

  &--nav {
    @include underline;
  }

  &--primary {
    background-color: var(--color-accent);
    border: 2px solid var(--color-border-light);
    border-radius: var(--radius-xl);
    padding: fluid(24, 18) fluid(48, 42);
  }

  @include font-size-modifiers;
}
