@use '@styles/helpers' as *;

.hero {
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-xl);
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
  }
  &__subtitle {
    color: var(--color-text-secondary);
    font-size: var(--font-sizes-xl);
  }
  &__post {
    font-size: var(--font-sizes-lg);
    letter-spacing: rem(4);
  }
  &__description {
    font-size: var(--font-sizes-base);
  }
  &__buttons {
    display: flex;
    gap: var(--spacing-xl);
  }
}
