@use '@styles/variables' as *;

.introContainer {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: rgba($color: #000000, $alpha: var(--intro-opacity, 1));
  backdrop-filter: blur(var(--intro-blur, 0));
  display: flex;
  align-items: center;
  z-index: $z-index-modal;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.introLeft {
  left: 0;
  justify-content: flex-end;
}

.introRight {
  right: 0;
  justify-content: flex-start;
}

.title {
  font-family: $font-family-secondary;
  color: white;
  opacity: 0;
  font-size: 92px;
  letter-spacing: 16px;
  transition: opacity 0.6s ease;
}
