@use '@styles/variables' as *;

.intro {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: $z-index-modal;
  opacity: 1;
  transition: opacity 0.6s ease;

  .introLeft,
  .introRight {
    flex: 1;
  }

  .introRight {
    display: flex;
    justify-content: flex-start;
  }

  .introLeft {
    display: flex;
    justify-content: flex-end;
  }
}

.title {
  color: white;
  opacity: 0;
  font-size: 48px;
  letter-spacing: 4px;
  transition: opacity 0.6s ease;
}
