@use '@styles/setting/variables' as *;
@use '@styles/helpers/' as *;
@use 'sass:color';

.introContainer {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-bg-secondary);
  backdrop-filter: blur(var(--intro-blur, 0));
  display: flex;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.introLeft {
  left: 0;
  justify-content: flex-end;
}

.introRight {
  right: 0;
  justify-content: flex-start;
}

.title {
  font-family: var(--font-accent);
  color: var(--color-text);
  opacity: 0;
  font-size: var(--font-sizes-xxxl);
  letter-spacing: var(--spacing-lg);
  text-shadow:
    0 0 5px var(--color-accent),
    0 0 10px var(--color-accent-alt);
  transition: opacity 0.6s ease;

  @include mobile {
    font-size: var(--font-sizes-xxl);
  }
}

.borderLine {
  position: absolute;
  width: fluid(3, 8);
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--color-border) 0%,
    var(--color-border-light) 50%,
    var(--color-border) 100%
  );
  z-index: -1;
  filter: drop-shadow(0 0 10px var(--color-accent)) drop-shadow(0 0 20px var(--color-accent-alt));
  transition: opacity 0.6s ease;
  border-radius: 2px;

  &::after {
    $border-light: color(color-border-light, 'dark');

    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3%;
    background: linear-gradient(
      to top,
      color.scale($border-light, $lightness: 70%) 0%,
      color.scale($border-light, $lightness: 90%) 50%,
      color.scale($border-light, $lightness: 70%) 100%
    );
    filter: blur(2px) drop-shadow(0 0 5px var(--color-accent));
    border-radius: 2px;
    z-index: -1;
    animation: glow-line 2s ease-in-out infinite alternate;
  }
}

@keyframes glow-line {
  0% {
    transform: translateY(0);
    opacity: 0.6;
  }
  50% {
    transform: translateY(-2%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.6;
  }
}

.borderLineLeft {
  right: 0;
}

.borderLineRight {
  left: 0;
}
