@use '@styles/setting/variables' as *;

.introContainer {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-bg-secondary);
  backdrop-filter: blur(var(--intro-blur, 0));
  display: flex;
  align-items: center;
  z-index: var(--z-index-tooltip);
  opacity: 1;
  transition: opacity 0.6s ease;
}

.introLeft {
  left: 0;
  justify-content: flex-end;
}

.introRight {
  right: 0;
  justify-content: flex-start;
}

.title {
  font-family: var(--font-family-base);
  color: var(--color-text);
  opacity: 0;
  font-size: var(--font-sizes-xxxl);
  letter-spacing: var(--spacing-lg);
}
