.heroContainer {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  overflow: hidden;
  will-change: transform;
  z-index: 1;
}

.pages {
  position: relative;
  transform: translateY(0);
  width: 100%;
  will-change: transform;
  z-index: 2;
}

.hero-container,
.pages {
  transition: transform 0.2s ease;
}
