@use '@style-helpers/mixins' as *;
@use '@style-helpers/media' as *;

.news {
}

.item {
  @include square(350px);

  .itemImage {
    position: relative;
  }

  .itemImageOverlay {
    display: none;
  }
}

.itemHover {
  .itemImageOverlay {
    position: absolute;
    inset: 0;
    place-self: center;
    display: block;
  }
}
