@use '@style-helpers/mixins' as *;
@use '@style-helpers/media' as *;

.news {
  @include square(350px);

  @include hover {
    .itemImageOverlay {
      opacity: 1;
    }
  }

  .newsImage {
    position: relative;
  }

  .newsImageOverlay {
    position: absolute;
    inset: 0;
    place-self: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
  }
}
